<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="28">
        <receiver
            android:name=".DebugConfigReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.scaso.drclawapp.DEBUG_CONFIG" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
